version: '3.1'

services:
  mysql:
    image: mysql
    container_name: bulk-upsert-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_USER: "${MYSQL_USERNAME}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    ports:
      - "${MYSQL_PORT}:3306"
  postgres:
    image: postgres
    container_name: bulk-upsert-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: "${POSTGRESQL_PASSWORD}"
      POSTGRES_USER: "${POSTGRESQL_USERNAME}"
      POSTGRES_DB: "${POSTGRESQL_DATABASE}"
    ports:
      - "${POSTGRESQL_PORT}:5432"
